$primary-color-pink: #F9CDC4; 
$primary-color-darkpink: #d97493;
$primary-color-red: #492540;
$primary-color-purple: #d7abf8;
$secondary-color-light-pink: #f9cdc4; 
$secondary-color-grey-green: #e7c899; 
$secondary-color-green: #cca97f;
$secondary-color-blue: #89acae;
$secondary-color-dark-blue: #718f91;


